.search{
  ::placeholder{
    color: #FFF;
  }
}

code{
  white-space: nowrap;
}

pre.highlight code{
  white-space: pre;
}

.toc-wrapper{
  .search-results.visible{
    background-color: #FF8742;
    border-bottom: solid 1px #FFF;
  }

  .toc-list-h3{
    background-color: #FF853F;
  }

  .toc-h3{
    padding-left: 35px;
  }
}

.content{
  h1{
    font-size: 32px;
  }

  h2{
    font-size: 29px;
  }

  h3{
    font-size: 22px;
    border-top: solid 1px rgba(210,210,210, 0.5);
    padding-top: 20px;
  }

  h4{
    font-size: 16px;
  }
}
