---
title: Plate API Reference

language_tabs: ## must be one of https://git.io/vQNgJ
  - json

toc_footers:
  - <a href='https://www.startwithplate.com/dashboard'>Go to the Plate Dashboard</a>
  - <a href='https://www.getplate.com'>About Plate</a>

guides:
  - connecting_to_plate
  - authentication
  - pagination
  - content_objects
  - positionable_objects
  - errors

resources:
  - partners
  - companies
  - sites
  - themes
  - theme_files
  - attachment_folders
  - attachments
  - form_messages
  - redirects
  - site_translations
  - posts
  - sections
  - rows
  - columns
  - elements
  - authentication_objects
  - content_types
  - content_fields

search: true
---

# Introduction

Welcome to the [Plate](https://www.getplate.com) REST API documentation. In this
documentation you will find a guide on how to use the Plate API.

## Available libraries

For the Plate API, a [rubygem](https://github.com/platehub/plate_api) is available.

<%= partial "includes/guides" %>


<%= partial "includes/resources" %>
